torch==1.4.0
torchvision==0.5.0
numpy
tqdm
tensorboard
tensorboardX
ml-collections
medpy
SimpleITK
scipy
h5py
matplotlib==3.2.2
ml_collections
medpy
catalyst==20.12
albumentations==0.5.2
ttach==0.0.2
psutil